:root {
  /* FONTS OVERSKRIFTER */
  .sour-gummy-h1 {
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: SemiBold 600;
    font-variation-settings: "wdth" 100;
    font-size: 70px;
    color: #632e16;
  }
  .sour-gummy-h2 {
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: Regular 400;
    font-variation-settings: "wdth" 100;
    font-size: 40px;
    color: #632e16;
  }

  /* FONTS P */
  .nunito-p_strong {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: Bold 700;
    font-style: normal;
    font-size: 30px;
  }
  .nunito-p {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: Regular 400;
    font-style: normal;
    font-size: 25px;
  }

  /* FONTS OVERSKRIFTER */

  /* FARVER */
  --color-bg-main: black;
}
