body {
  background-color: #f2f2ed;
}

h1 {
  font-family: "Sour Gummy", sans-serif;
  text-align: center;
  color: #632e16;
  margin: 60px;
}

.grid_1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  height: auto;
  justify-items: center;
}

img {
  width: 100%;
  max-width: 450px;
  height: auto;
  border-radius: 8px;
}

@media (max-width: 800px) {
  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }

  img {
    width: 100%;
    max-width: 300px;
    height: auto;
  }
}
