h1 {
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: SemiBold 600;
  font-variation-settings: "wdth" 100;
  font-size: 70px;
  color: #632e16;
}

h2 {
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: Regular 400;
  font-variation-settings: "wdth" 100;
  font-size: 35px;
  color: #c91417;
  margin: 0 0 0.6rem 0;
}

p {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: Regular 400;
  font-style: normal;
  font-size: 20px;
  color: #632e16;
  margin: 0.2rem 0 1rem 0;
  line-height: 1.6;
}
li {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: Regular 400;
  font-style: normal;
  font-size: 20px;
  color: #632e16;
  margin: 0.2rem 0 1rem 0;
  line-height: 1.6;
}

.hero {
  text-align: center;
  margin-bottom: 2rem;
}
/* .cta_btn {
  padding: 0.4rem 1rem;
  background-color: red;
  color: blue;
  text-decoration: none;
  width: max-content;
  border-radius: 15px;
  cursor: pointer;
  border: none;
}

summary::marker {
  content: none;
}

summary::after {
  content: "+";
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
}

[open] summary::after {
  content: "\2193";
}

::details-content {
  height: 0;
  overflow: clip;
  transition: 0.3s allow-discrete;
}

[open]::details-content {
  height: auto;
} */

:root {
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

/* .content {
  display: grid;
  grid-template-columns: 1fr 420px;
  gap: 2.5rem;
} */
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.6rem;
  margin: 40px;
}
/* .card {
  background: rgba(255, 255, 255, 0.8);
  padding: var(--card-pad);
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.05);
} */

details {
  margin-top: 0.4rem;
}
summary {
  cursor: pointer;
  display: inline-flex;
  gap: 0.6rem;
  align-items: center;

  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: Regular 400;
  font-style: normal;
  font-size: 20px;
  color: #aaa269;
  margin: 0.2rem 0 1rem 0;
  line-height: 1.6;
}

summary::-webkit-details-marker {
  display: none;
}
.chev {
  transition: transform 0.18s;
}
details[open] .chev {
  transform: rotate(180deg);
}
.artwork {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  align-items: center;
}
.svg-wrap {
  width: 100%;
  justify-content: center;
}

@media (max-width: 980px) {
  .content {
    grid-template-columns: 1fr;
  }
  .hero h1 {
    font-size: 2.4rem;
  }
}
